body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
<<<<<<< HEAD
=======

.theme-showcase .navbar .container {
  width: auto;
}
>>>>>>> 1aaad6481cb064f31f85d519cd56e3c1799585cf
